extends main
block content
  head
    style(type='text/css').
      body { margin: 10px;  background-color:#301806; }
      #my_canvas{ background:#FFF; border: #000 1px solid;}
    script.
      window.onbeforeunload = function(){
        window.scrollTo(0,30);
      }
  body
    .jumbotron
      span#titlefont #{myGame.currentRound.currentTurn.name}´s turn
      p
        center
          span#sbfont #{myGame.player1.name}: #{myGame.score[0]} | #{myGame.player2.name}:  #{myGame.score[1]}
      p
        if(myGame.currentRound.currentTurn==myGame.player1)
          if(myGame.player1.allowed)
            center
              ul.nav.navbar-nav
                li
                  form(role='form', action='/round', method='POST')
                    if(myGame.currentRound.fsm.can('envido'))
                      button.btn.btn-success(type='submit') Envido
                      input(name="what", type='hidden', value='envido')
                      input(name="how",type='hidden', value=0)
                li
                  form(role='form', action='/round', method='POST')
                    if(myGame.currentRound.fsm.can('real-envido'))
                        button.btn.btn-success(type='submit') Real Envido
                        input(name="what", type='hidden', value='real-envido')
                        input(name="how",type='hidden', value=0)
                li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('f-envido'))
                        button.btn.btn-success(type='submit') Falta Envido
                        input(name="what", type='hidden', value='f-envido')
                        input(name="how",type='hidden', value=0)
                li
                  form(role='form', action='/round', method='POST')
                    if(myGame.currentRound.fsm.can('truco'))
                      button.btn.btn-warning(type='submit') Truco
                      input(name="what", type='hidden', value='truco')
                      input(name="how",type='hidden', value=0)
                li
                  form(role='form', action='/round', method='POST')
                    if(myGame.currentRound.fsm.can('retruco'))
                        button.btn.btn-warning(type='submit') Retruco
                        input(name="what", type='hidden', value='retruco')
                        input(name="how",type='hidden', value=0)
                li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('vale4'))
                        button.btn.btn-warning(type='submit') Vale 4
                        input(name="what", type='hidden', value='vale4')
                        input(name="how",type='hidden', value=0)  
                li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('quiero'))
                        button.btn.btn-info(type='submit') Quiero
                        input(name="what", type='hidden', value='quiero')
                        input(name="how",type='hidden', value=0)
                li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('no-quiero'))
                        button.btn.btn-danger(type='submit') No Quiero
                        input(name="what", type='hidden', value='no-quiero')
                        input(name="how",type='hidden', value=0)

          p
            br  
          p
            center
              .form-group
                .col-lg-4
                  form(role='form', action='/round', method='POST')
                    if(myGame.player1.cards[0])
                      input(name='submit', type='image', src=myGame.player1.cards[0].dir)
                      input(name="what", type='hidden', value='play-card')
                      input(name="how",type='hidden', value=0)
                .col-lg-4
                  form(role='form', action='/round', method='POST')
                    if(myGame.player1.cards[1])
                      input(name='submit', type='image', src=myGame.player1.cards[1].dir)
                      input(name="what", type='hidden', value='play-card')
                      input(name="how",type='hidden', value=1)
                .col-lg-4
                  form(role='form', action='/round', method='POST')
                    if(myGame.player1.cards[2])
                      input(name='submit', type='image', src=myGame.player1.cards[2].dir)
                      input(name="what", type='hidden', value='play-card')
                      input(name="how",type='hidden', value=2)
        if(myGame.currentRound.currentTurn!=myGame.player1)
          center
            .form-group
              .col-lg-4
                if(myGame.player1.cards[0])
                  img(src="/img/cards/backside.png")
              .col-lg-4
                if(myGame.player1.cards[1])
                  img(src="/img/cards/backside.png") 
              .col-lg-4
                if(myGame.player1.cards[2])
                  img(src="/img/cards/backside.png") 
      p
        br
      p
        br
      p
        br
      p
        br
      p
        .container
          p
            if(myGame.currentRound.board1)
              center
                .form-group
                  .col-lg-4
                    if(myGame.currentRound.board1[0])
                      img(src=myGame.currentRound.board1[0].dir)
                  .col-lg-4
                    if(myGame.currentRound.board1[1])
                      img(src=myGame.currentRound.board1[1].dir) 
                  .col-lg-4
                    if(myGame.currentRound.board1[2])
                      img(src=myGame.currentRound.board1[2].dir)   
          p
            br  
          p
            br
          p
            br
          p
            br
          p
            if(myGame.currentRound.board2)
              center
                .form-group
                  .col-lg-4
                    if(myGame.currentRound.board2[0])
                      img(src=myGame.currentRound.board2[0].dir)
                  .col-lg-4
                    if(myGame.currentRound.board2[1])
                      img(src=myGame.currentRound.board2[1].dir) 
                  .col-lg-4
                    if(myGame.currentRound.board2[2])
                      img(src=myGame.currentRound.board2[2].dir) 
      p
        br
      p
        if(myGame.currentRound.currentTurn==myGame.player2)
          center
            .form-group
              .col-lg-4
                form(role='form', action='/round', method='POST')
                  if(myGame.player2.cards[0])
                    input(name='submit', type='image', src=myGame.player2.cards[0].dir)
                    input(name="what", type='hidden', value='play-card')
                    input(name="how",type='hidden', value=0)
              .col-lg-4
                form(role='form', action='/round', method='POST')
                  if(myGame.player2.cards[1])
                    input(name='submit', type='image', src=myGame.player2.cards[1].dir)
                    input(name="what", type='hidden', value='play-card')
                    input(name="how",type='hidden', value=1)
              .col-lg-4
                form(role='form', action='/round', method='POST')
                  if(myGame.player2.cards[2])
                    input(name='submit', type='image', src=myGame.player2.cards[2].dir)
                    input(name="what", type='hidden', value='play-card')
                    input(name="how",type='hidden', value=2)
          if(myGame.player2.allowed)
            p
              br  
            p
              br
            p
              center
                ul.nav.navbar-nav
                  li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('envido'))
                        button.btn.btn-success(type='submit') Envido
                        input(name="what", type='hidden', value='envido')
                        input(name="how",type='hidden', value=0)
                  li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('real-envido'))
                          button.btn.btn-success(type='submit') Real Envido
                          input(name="what", type='hidden', value='real-envido')
                          input(name="how",type='hidden', value=0)
                  li
                      form(role='form', action='/round', method='POST')
                        if(myGame.currentRound.fsm.can('f-envido'))
                          button.btn.btn-success(type='submit') Falta Envido
                          input(name="what", type='hidden', value='f-envido')
                          input(name="how",type='hidden', value=0)
                  li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('truco'))
                        button.btn.btn-warning(type='submit') Truco
                        input(name="what", type='hidden', value='truco')
                        input(name="how",type='hidden', value=0)
                  li
                    form(role='form', action='/round', method='POST')
                      if(myGame.currentRound.fsm.can('retruco'))
                          button.btn.btn-warning(type='submit') Retruco
                          input(name="what", type='hidden', value='retruco')
                          input(name="how",type='hidden', value=0)
                  li
                      form(role='form', action='/round', method='POST')
                        if(myGame.currentRound.fsm.can('vale4'))
                          button.btn.btn-warning(type='submit') Vale 4
                          input(name="what", type='hidden', value='vale4')
                          input(name="how",type='hidden', value=0)  
                  li
                      form(role='form', action='/round', method='POST')
                        if(myGame.currentRound.fsm.can('quiero'))
                          button.btn.btn-info(type='submit') Quiero
                          input(name="what", type='hidden', value='quiero')
                          input(name="how",type='hidden', value=0)
                  li
                      form(role='form', action='/round', method='POST')
                        if(myGame.currentRound.fsm.can('no-quiero'))
                          button.btn.btn-danger(type='submit') No Quiero
                          input(name="what", type='hidden', value='no-quiero')
                          input(name="how",type='hidden', value=0)
            
        if(myGame.currentRound.currentTurn!=myGame.player2)
          center
            .form-group
              .col-lg-4
                if(myGame.player2.cards[0])
                  img(src="/img/cards/backside.png")
              .col-lg-4
                if(myGame.player2.cards[1])
                  img(src="/img/cards/backside.png")
              .col-lg-4
                if(myGame.player2.cards[2])
                  img(src="/img/cards/backside.png")